@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/**** Reset ****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button {
    outline: none;
    border: none;
    font-family: "Roboto", sans-serif;
}

/**** body ****/

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

/**** loader ****/

.loader {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    margin: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: display-loader 3s linear;
    visibility: hidden;
}


/**** Animation display-loader pour la mise en place d'un overlay ****/

@keyframes display-loader {
    0% {
        visibility: visible;
        opacity: 0.7;
    }

    70% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.letter {
    color: #484848;
    font-size: 80px;
    letter-spacing: 15px;
    font-family: "Poppins", sans-serif;
    animation: flash 1.2s linear infinite;
}

/**** Animation flash ****/

@keyframes flash {
    0% {
        color: #19f5d0;
        text-shadow: 0 0 7px #19f5d0;
    }

    90% {
        color: #484848;
        text-shadow: none;
    }

    100% {
        color: #19f5d0;
        text-shadow: 0 0 7px #19f5d0;
    }
}

.letter:nth-child(1) {
    animation-delay: 0.1s;
}

.letter:nth-child(2) {
    animation-delay: 0.2s;
}

.letter:nth-child(3) {
    animation-delay: 0.3s;
}

.letter:nth-child(4) {
    animation-delay: 0.4s;
}

.letter:nth-child(5) {
    animation-delay: 0.5s;
}

.letter:nth-child(6) {
    animation-delay: 0.6s;
}

.letter:nth-child(7) {
    animation-delay: 0.7s;
}

.letter:nth-child(8) {
    animation-delay: 0.8s;
}

.letter:nth-child(9) {
    animation-delay: 0.9s;
}

.letter:nth-child(10) {
    animation-delay: 1s;
}


/**** header, footer ****/

header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 15px;
    font-family: "Poppins", sans-serif;
}

h1 {
    text-align: center;
    font-size: 32px;
    margin: 0;
}

/**** div separator ****/

.separator {
    width: 75%;
    border: 1px solid #484848;
    margin: auto;
}

/**** main ****/


.main__content {
    flex-grow: 1;
    padding: 40px;
}

/**** div input__control ****/

.input__control {
    display: flex;
    align-items: center;
    max-width: 500px;
    background-color: #eefcf7;
    border-radius: 6px;
    padding: 15px;
    transition: box-shadow 0.3s ease-in-out;
}

.input__control:hover,
.input__control:focus {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.input__control i {
    width: 20px;
    cursor: pointer;
}

.input__control input {
    width: 100%;
    font-size: 18px;
    padding-left: 12px;
    color: #000000;
    background-color: #eefcf7;
}

.input__control input::placeholder {
    color: #8a8c8d;
}

.main__title {
    margin-block: 50px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 28px;
}

/**** div table ****/

.table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.table__title {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    padding: 10px 15px 20px;
}

.table__result {
    grid-column: 1 / -1;
}

.table__item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 15px 10px;
    background-color: #ffffff;
}

.table__item:nth-child(odd) {
    background-color: #eefcf7;
}

.container__img {
    display: flex;
    align-items: center;
}

.container__img img {
    width: 40px;
    border-radius: 50%;
    /* margin-right: 10px;*/
}

.table,
.container__img,
p {
    padding: 0 15px;
}

/**** div btn ****/

.btn {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-color: #19f5d0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 5px;
    bottom: 20px;
    cursor: pointer;
}


/**** footer ****/

.footer__text {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

/**** Responsive design version tablette ****/

@media screen and (max-width: 991px) {
    .letter {
        font-size: 50px;
    }

    h1 {
        font-size: 27px;
    }

    h1,
    .main__title {
        line-height: 1.5;
    }

    .main__title {
        font-size: 22px;
    }

    .table {
        display: block;
    }

    .table__title {
        display: none;
    }

    .container__img {
        justify-content: center;
    }

    .table__item {
        grid-template-columns: 1fr;
        grid-auto-rows: 55px;
        margin-bottom: 50px;
        height: auto;
        text-align: center;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
}